*{background-color:black;}
img{border-radius: 10px;}
p{font-size: 17px}
h2{font-size: 26px}
h1{color:lavenderblush}
h3{color:cadetblue}
p{color:honeydew}
h2{color:cadetblue}
li{color:honeydew}
li{font: size 17px;}
table{color:lavenderblush}
caption{font-size: 22px;}
